body{
    font-family: arial;
    color: black;
}
.column{
	border-style: solid;
	border-width: 2px;
	border-color: gray;
	border-radius: 4px;
	width: 45%;
	height: 40%;
	padding: 15px;
	margin: 2px;
    float: left;
}
.row:after{
	content: "";
	display: table;
	clear: both;
}
.header{
	background-color: darkslategrey;
	text-align: left;
	color: snow;
    height: 3%;
}
.projectbutton {
    width: 100%;
    /* background-color: darkslategray;
    color: whitesmoke; */
    padding: 2px;
    font-size: 20px;
    text-align: center;
    border: none;
}
.projectbutton:hover {
    background-color: darkgrey;
    color:black;
}
/* .projectbutton_submit:hover {
    background-color: darkgrey;
    color:black;
} */
.projectbutton button.active {
    background-color: darkgrey;
    color:black;
}
.projectdiv {
    width: 70%;
    float: left;
    padding: 2%;
}
.button_navigation {
    width: 25%;
    float: left;
}

.statusdiv {
    border:cadetblue;
    border-radius: 4px;
    border-style: groove;
    width: 50%;
    text-align: center;
    margin-left: 25%;
}

.statusdivactive {
    border:cadetblue;
    border-radius: 4px;
    border-style: groove;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    background-color: cadetblue;
    color: whitesmoke;
}
.submitbutton {
    background-color: darkslategray;
    color: whitesmoke;
    border-radius: 4px;
    width:fit-content;
    float: right;
}
/* reference https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
    /* display: none; */
    position: relative;
    z-index: 1;
    background-color: rgba(248, 242, 242, 0.99);
    color:black;
    margin-top: -20%;
    border-radius: 4px;
    align-items: center;
    text-align: center;
}
/* Modal Content/Box */
.modal_content {
    background-color: rgb(59, 55, 55);
    position: absolute;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    margin-top: -20%;
    margin-right: -20%;
}
  
.close:hover,.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.litsurveyitem {
    border-radius: 4px;
    background-color: whitesmoke;
    border-color: teal;
    border-style: solid;
    margin-bottom: 2%;
}
.problem_statement {
    border-radius: 4px;
    background-color: whitesmoke;
    border-color: teal;
    border-style: solid;
    margin-bottom: 2%;
}
.card_header {
    background-color: cadetblue;
    margin: 0%;
}
.iframe_sheet {
    width: 100%;
    height: 100%;
}