body{
    font-family: arial;
    color: black;
}
.column{
	border-style: solid;
	border-width: 2px;
	border-color: gray;
	border-radius: 4px;
	float: left;
	width: 45%;
	height: 40%;
	padding: 15px;
}
.row:after{
	content: "";
	display: table;
	clear: both;
}
.header{
	background-color: darkslategrey;
	text-align: left;
	color: snow;
}
